
.nav {
  grid-area: n;
  border: solid 1px #000;
  background-color: #fff;
  height: 100%;
}

.item {
  padding-left: 20px;
}

.item:first-child {
  padding-top: 40px;
}

.item:last-child {
  padding-bottom: 40px;
}

.item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
}

.item a.active {
  border-bottom: 2px solid #300;
}

.link a {
  text-decoration: none;
  margin-right: 20px;
}

.link a:last-child {
  margin-right: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
}

.input {
  width: 15rem;
  height: 2rem;
  margin: .5rem;
}


