.footer {
    grid-area: f;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.item a {
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
}

.item__footer {
    list-style: none;
    text-decoration: none;
    width: 150px;
    height: 100px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}


.link a {
    font-size: 25px;
    margin-right: 20px;
    color: #000;
}


.logo img  {
    width: 350px;
}