.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addBlock {
  margin: 100px;
}

.textArea {
  resize: none;
  display: block;
  width: 290px;
  height: 200px;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 250px;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.btn {
  position: relative;
  display: inline-block;
  margin-left: 19rem;
  margin-top: 5rem;
  font-size: 100%;
  font-weight: 700;
  color: #fff;
  text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px,
    #053852 -1px -1px;
  text-decoration: none;
  user-select: none;
  padding: 0.4em 1.3em;
  outline: none;
  border-radius: 7px;
  background: #053852
    repeating-linear-gradient(
      135deg,
      #053852,
      #053852 10px,
      #1679ad 10px,
      #1679ad 20px,
      #053852 20px
    );
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3),
    inset 2px 2px rgba(255, 255, 255, 0.3);
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}
.btn:hover,
.btn:focus {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px,
    #0175b1 -1px -1px;
  background: #0175b1
    repeating-linear-gradient(
      135deg,
      #0175b1,
      #0175b1 10px,
      #8fd2f5 10px,
      #8fd2f5 20px,
      #0175b1 20px
    )
    no-repeat;
  background-size: 1000% 100%;
}
.btn:hover {
  background-position: 0 0;
}
.btn:focus {
  color: rgba(255, 255, 255, 0);
  text-shadow: rgba(1, 117, 177, 0) -1px 1px, rgba(1, 117, 177, 0) 1px 1px,
    rgba(1, 117, 177, 0) 1px -1px, rgba(1, 117, 177, 0) -1px -1px;
  background-position: 900% 0;
  transition: background-position linear 600s, color 0.5s, text-shadow 0.5s;
}
.btn:after {
  content: "загрузка\2026";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em 0.7em;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  transition: 999999s;
}
.btn:focus:after {
  color: #fff;
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px,
    #0175b1 -1px -1px;
  transition: 0.5s;
}
