.item {
  display: flex;
  margin: 40px;
  padding: 20px;
}

.text {
  padding-left: 50px;
  background-color: rgba(221, 219, 219, 0.486);
}

.link {
  text-decoration: none;
  color: black;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}


.message {
  color: #2b2b2b;
  padding-top: 20px;
}
